.footer {
  background-color: #000000;
  text-align: center;
  padding-bottom: 15px;
}
.footer li {
  display: inline-block;
  margin: 0px 20px;
}
.footer h3 {
  color: #ffffff;
  padding-top: 20px;
}
i {
  font-size: 40px;
}
